<mat-toolbar>
  <mat-toolbar-row >
    <span>HardKO</span>
    <span class="flex-1"></span>

    <button mat-button>
      <mat-icon>shopping_cart</mat-icon>
      Cart
    </button>

    <button mat-button>
      <mat-icon>account_circle</mat-icon>
      Log In
    </button>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span class="flex-1"></span>
    <button mat-button>Gloves</button>
    <button mat-button>Protection</button>
    <button mat-button>Stuff</button>
    <button mat-button>Other Stuff</button>
    <button mat-button>Monse xd</button>
    <span class="flex-1"></span>
  </mat-toolbar-row>

</mat-toolbar>
